body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}
a:hover{
    text-decoration: underline;
    color: #900aa1;
}

.inicial {
    display: flex;
    background-image: url(desert-sladkoe-konfety-shokolad-sweet-chocolate-wood-bakery.jpg);
    background-size: 100%;
    max-height: 800px;
    flex-wrap: wrap;
    height: 560px;

}

.titulo {
    margin-top: 0rem;
    margin-left: 39rem;
    flex-wrap: wrap;
    color: rgb(96, 72, 100);
    text-shadow: 3px 3px 3px rgb(243, 186, 245);
    font-family: 'Amarillo', sans-serif;
    font-size: 50px;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;


    margin-left: 25rem;
}

.botao {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 2rem;
   
    width: 100%;
   



}
.botao2{
    display: flex;
    justify-content: flex-end;
   
}

.estilo-botao {
    height: 3rem;
    width: 10rem;
    background: rgb(29, 219, 70);
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}
.estilo-botao1 {
    height: 3rem;
    width: 10rem;
    background: rgb(187, 28, 192);
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}
.estilo-botao:hover{
    background: rgb(134, 241, 130);
}
.estilo-botao1:hover{
    background: rgb(241, 133, 245);
}


.header {
    display: flex;
    background-color: rgb(231, 185, 225);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.menu {
    display: flex;


}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;

}

.bolos {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.bolos>div {
    flex: 1 1 200px;
    margin: 10px;


}
.bolos>div:hover{
    transform: scale(1.25,1.25);

}
.bolos>div:nth-child(n+1){
    background: rgba(0, 0, 0, 0.548);
    box-shadow: 4px 4px 4px rgb(168, 167, 167);
}

.kits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    gap: 20px;
}
.kits>div:nth-child(n+1){
    background-color: rgb(68, 28, 80);
    color: wheat;

}

.kits>div:nth-child(n+4) {
    background-color: rgb(231, 185, 225);
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;

}

.kits>div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;


}
.kits>div:hover{
    transform: scale(1.25,1.25);
}
.kits>div:hover::after{
    opacity: 1;
}

footer{
    display: flex;
    padding: 80px;
    background-color: rgb(231, 185, 225);
    justify-content: center;
   
   
}

.container-footer{
    padding: 5px;
    display: flex;
    background-color: rgb(231, 185, 225);
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 35px;
}
.mapa{
    display: flex;
}







@media(max-width:900px) {

    body,
    ul,
    li,
    p {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Poppins', sans-serif;
    }

    .inicial {
        display: flex;
        background: url(desert-sladkoe-konfety-shokolad-sweet-chocolate-wood-bakery.jpg);
        background-size: 100%;
        max-height: 800px;
        flex-wrap: wrap;
        height: 400px;

    }

    .titulo {
        margin: auto;
        font-size: 30px;
    }

    .sobre {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        font-size: 15px;
    }

    .kits {
        grid-template-columns: repeat(2, 1fr);

    }

    .kits>div:nth-child(n+4) {
        display: block;
    }

    .kits>div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
    footer{
        display: flex;
        padding: 80px;
        background-color: #dc6eeb;
        flex-direction: column;
       
    }
    
    .container-footer{
        padding: 5px;
        display: flex;
        background-color: #dc6eeb;
        justify-content: center;
        flex-direction: column;
        color: white;
        margin-bottom: 1rem;
        
        font-size: 18px;
    }
    .mapa{
        display: flex;
        margin-left: 0rem;
        width:10px;
    }
    .bolos>div:hover{
        transform: scale(1);
    
    }
}